<tr>
	<th class="mdl-data-table__cell--non-numeric">
		<span>Pos</span>
	</th>
	<th class="mdl-data-table__cell--non-numeric">
		<span>Name</span>
	</th>
	<th class="performance_details">
		<span>Mp</span>
	</th>
	<th class="performance_details">
		<span>Gs</span>
	</th>
	<th class="performance_details">
		<span>A</span>
	</th>
	<th class="performance_details">
		<span>Gc</span>
	</th>
	<th class="hide contract_details">
		<span>Salary</span>
	</th>
	<th class="hide contract_details">
		<span>Ends</span>
	</th>
	<th class="mdl-data-table__cell--non-numeric">
		<span> </span>
	</th>
</tr>
