<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr id="<%= dom_id(team) %>">
        <td><%= link_to team.title, league_team_path(team.league_id, team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_league_team_path %>
