<div class="row">
	<div class="col-sm-12">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= @team.title %></h2>
      </div>
			<div class="mdl-card__supporting-text">
				Team budget: <%= number_to_currency(@team.cash_balance_cents / 100, precision: 0) %>
			</div>
			<div class="mdl-card__actions">
				<%= render partial: "shared/team_players" %>
			</div>
			<div class="mdl-card__supporting-text">
				<ul class="horizontal-style">
					<li><%= link_to 'Edit team', edit_league_team_path(@team.league, @team), class: "mdl-button--primary" %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
