<div class="row">
  <div class="col-sm-12 margin-bottom-50">
    <%= render partial: 'shared/leagues/your_leagues', locals: { leagues: @leagues } %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'shared/league_invites/league_invites_summary' %>
  </div>
</div>
