<div class="row">
  <div class="col-sm-12 margin-bottom-50">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Your leagues</h2>
      </div>
      <div class="mdl-card__actions">
        <% if @leagues.count > 0 %>
          <% @leagues.each do |league| %>
            <div class="normal-text">
              <%= link_to league.name, league, class: "content-link" %>
            </div>
          <% end %>
        <% else %>
          <div class="normal-text">You don't have a team in any leagues yet.</div>
        <% end %>
      </div>
      <div class="mdl-card__supporting-text">
        <ul class="horizontal-style">
          <li><%= link_to 'View leagues and invites', leagues_path, class: "mdl-button--primary" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Your league invites</h2>
      </div>
      <div class="mdl-card__actions">
        <% @league_invites = LeagueInvite.where(email: @current_user.email) %>
        <% if @league_invites.count > 0 %>
          <% @league_invites.each do |league_invite| %>
            <div class="normal-text">
              <%= link_to league_invite.league.name, league_invite.league, class: "content-link" %>
            </div>
          <% end %>
        <% else %>
          <div class="normal-text">No invites</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
