<tr>
  <th class="mdl-data-table__cell--non-numeric">
    <span>Pos</span>
  </th>
  <th class="mdl-data-table__cell--non-numeric">
    <span>Player</span>
  </th>
  <th>
    <span>Mp</span>
  </th>
  <th>
    <span>Gs</span>
  </th>
  <th>
    <span>A</span>
  </th>
  <th>
    <span>Gc</span>
  </th>
</tr>
