<tr>
  <th class="mdl-data-table__cell--non-numeric">
    <span>Pos</span>
  </th>
  <th class="mdl-data-table__cell--non-numeric">
    <span>Player</span>
  </th>
  <th>
    <span>Mp</span>
  </th>
  <th class="detailed_stats">
    <span>Gs</span>
  </th>
  <th class="detailed_stats">
    <span>A</span>
  </th>
  <th class="detailed_stats">
    <span>Gc</span>
  </th>
  <th class="hide summary_stats">
    <span>Att</span>
  </th>
  <th class="hide summary_stats">
    <span>Def</span>
  </th>
</tr>
