<p>Hi,</p>

<p><%= @league.user.full_name %> has invited you to join <%= @league.name %> on Gaffer.</p>

<p>If you're new to Gaffer League, sign up at <%= link_to 'gafferleague.com', 'https://gafferleague.com' %>  and you can create a team that will be added to the league.</p>

<p>What is Gaffer League? It's a brand new fantasy football game that is being tested for the 2017/18 Premier League season. If you ever played Football Manager (or Champiosnhip Manager, if you're old enough to remember that), Gaffer League is aiming to build a similar experience based on the real world.</p>

<p>Players have contracts and will only sign for the team that offers them the best contract. Those contracts can span multiple seasons. You can upgrade your team's stadium to increase your gate receipts. Transfer are all cash-based (rather than player trades). You play against one opponent per week and the games have realistic scorelines and points: Three points for a win, one for a draw. There are no restrictions on formations, but be careful about stacking the attack too heavily as this will leave your defence vulnerable!</p>

<p>Thanks,</p>
<p>Barry</p>
