<% @league = League.find_by(id: params[:league_id]) %>
<% team_player = TeamPlayer.find_by(id: params[:team_player]) %>
<div class="row">
	<div class="col-sm-12">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Transfer list <%= team_player.player.full_name %></h2>
      </div>
      <div class="mdl-card__actions">
      </div>
		</div>
	</div>
</div>
