<% auction = Auction.find(params[:id]) %>
<% player = auction.team_player.player %>
<% season = Season.current.first %>

<div class="col-sm-12">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">
				Transfer list details
			</h2>
		</div>
		<div class="mdl-card__supporting-text">
			<div class="mdl-card__actions">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		      <tr>
		        <td class="mdl-data-table__cell--non-numeric normal-text">
		          Player
		        </td>
		        <td class="mdl-data-table__cell--non-numeric normal-text">
		          <%= player.full_name %>
		        </td>
		      </tr>
		      <tr>
		        <td class="mdl-data-table__cell--non-numeric normal-text">
		          Value
		        </td>
		        <td class="mdl-data-table__cell--non-numeric normal-text">
		          <%= player.player_value(season) %>
		        </td>
		      </tr>
		      <tr>
		        <td class="mdl-data-table__cell--non-numeric normal-text">
		          Minimum bid allowed
		        </td>
		        <td class="mdl-data-table__cell--non-numeric normal-text">
		          <%= number_to_currency(auction.minimum_bid, precision: 0) %>
		        </td>
		      </tr>
		    </table>
			</div>
		</div>
	</div>
	
</div>
