<div id="log-in-hero-row" class="row">
  <div class="col-sm-1">
    <!-- Empty -->
  </div>
  <div id="new-user-form-div" class="col-sm-10">
    <% if controller_name == "users" %>
      <%= render 'form' %>
    <% end %>
  </div>
  <div class="col-sm-1">
    <!-- Empty -->
  </div>
</div>
