<!-- Event snippet for Visits home page 2019.04.16 conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-749815027/_vEnCK-8sZkBEPOJxeUC'});
</script>

<div id="log-in-hero-row" class="row">
  <div class="col-sm-1">
    <!-- Empty -->
  </div>
  <div id="new-user-form-div" class="col-sm-10">
    <% if controller_name == "users" %>
      <%= render 'form' %>
    <% end %>
  </div>
  <div class="col-sm-1">
    <!-- Empty -->
  </div>
</div>
