<tr>
	<th class="mdl-data-table__cell--non-numeric">
		<span>Date</span>
	</th>
	<th>
		<span>GW</span>
	</th>
	<th class="mdl-data-table__cell--non-numeric">
		<span>Home v Away</span>
	</th>
	<th class="mdl-data-table__cell--non-numeric">
		<span>Score</span>
	</th>
</tr>
