<% if @team_player.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@team_player.errors.count, "error") %> prohibited this team player from being saved:</h2>

    <ul>
    <% @team_player.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% @players_in_this_league = Player.joins(team_players: [:team => :league]).where('leagues.id = ?', @team_player.team.league.id) %>
<%= form.collection_select(:player_id, Player.where.not(id:@players_in_this_league.map(&:id)), :id, "#{:full_name}") %>
<%= form.submit "Add player to squad" %>