<h1><%= @team.title %> - Add team player</h1>
	<%= form_for [@team, @team_player], url: league_team_team_players_path(params[:league_id], @team) do |form| %>
  		<%= render partial: form %>
	<% end %>
<%= link_to 'Back', league_team_team_players_path %>