<div id="logo-row" class="row">
  <div class="col-sm-12 logo-div">
    <%= link_to image_tag("gaffer_logo_small_white.png", class: "logo-image"), root_path %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1">
    <!-- Empty -->
  </div>
  <div class="col-sm-10">
    <%= render 'user_sessions/form' %>
  </div>
  <div class="col-sm-1">
    <!-- Empty -->
  </div>
</div>
