<div class="row">
  <div id="logo-row" class="row">
    <div class="col-sm-8 logo-div">
      <%= link_to image_tag("gaffer_logo_black_large_no_slogan_no_crest.png", class: "logo-image"), root_path %>
    </div>
    <div class="col-sm-2 main-nav-item">
      <%= link_to "LOG IN", login_path, class: "main-nav-item-logged_out" %>
    </div>
    <div class="col-sm-2 main-nav-item">
      <%= link_to "SIGN UP", signup_path, class: "main-nav-item-logged_out" %>
    </div>
  </div>
</div>
