<div id="logo-row" class="row">
  <div class="col-sm-12 logo-div">
    <%= link_to image_tag("gaffer_logo_small_white.png", class: "logo-image"), root_path %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1">
    <!-- Empty -->
  </div>
  <div class="col-sm-10">
    <% if controller_name == "user_sessions" %>
      <%= render 'user_sessions/form' %>
    <% end %>
  </div>
  <div class="col-sm-1">
    <!-- Empty -->
  </div>
</div>
