<% direct_bid = params[:direct_bid] && (params[:direct_bid].to_i == @transfer.transfer_items.first.team_player_id) ? true : false%>
<div class="col-sm-12">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">
				<% if direct_bid %>
					<% player = TeamPlayer.find(@transfer.transfer_items.first.team_player_id).player %>
					Make offer for <%= player.full_name(true, 17) %>
				<% else %>
					Add item to transfer
				<% end %>		
			</h2>
		</div>

		<% if direct_bid %>
			<%= render 'bid_form' %>
			<%= render partial: 'shared/player_game_week_table', locals: {player: player} %>
		<% else %>
			<%= render 'form' %>
		<% end %>
	</div>
</div>
