<% if !@transfer.is_auto_completing %>
  <% if transfer.team_transfer_status(team) == 'accepted' %>
  	<%= link_to "Reject", change_response_league_transfer_path(league, @transfer), method: :patch, class: "mdl-button--secondary" %>
  <% else %>
    <% if !GameWeek.has_current_game_week %>
  	 <%= link_to "Accept", change_response_league_transfer_path(league, @transfer), method: :patch, class: "mdl-button--primary" %>
    <% else %>
      <span class="disabled_mdl-button--primary">Accept</span>
    <% end %>
  <% end %>
<% end %>
