a.content-link, .pagination > a {
	border-bottom: 2px solid;
	color: #111111;
	font-weight: 300;
  text-decoration: none;
}
a.content-link:hover, a.content-link:active {
	border-bottom: 2px solid;
	color: #111111;
	font-weight: 400;
	text-decoration: none;
}
a.mdl-button {
	font-size: 34px;
	height: 68px;
	padding-top: 16px;
	width: 45%;
}
body#body_id {	
	font-family: "Roboto";
}
div.mdl-card__actions {
	padding: 12px;
}
div.mdl-card__supporting-text {
	font-size: 32px;
	line-height: 35px;
	width: 100%;
}
form, form div, .form-group div.mdl-textfield{
	width: 100%;
}
i.ghost {
	visibility: hidden;
}
i.large {
	font-size: 48px;
	margin-right: 5px;
}
i.small {
	font-size: 30px;
	margin-right: 2px;
}
i.material-icons {
	vertical-align: middle;
}
input:disabled {
	color: #ff0000;
}
input[type="text"], input[type="password"], input[type="date"] {
	font-size: 34px;
	line-height: 28px;
	padding: 22px 10px;
}
input[type="submit"].content-link {
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 2px solid;
	border-left: none;
	border-right: none;
	border-top: none;
	color: #111111;
	font-weight: 300;
	padding: 0px;
  text-decoration: none;
}
input.mdl-textfield__input {
	border-bottom: 5px solid rgba(5,5,5,.12);
}
label.mdl-textfield__label {
	font-size: 34px;
	padding-top: 3px;
	top: 51px;
}
li {
	font-size: 24px;
  line-height: 32px;
}
span.mdl-textfield__error {
	font-size: 26px;
}
span.skooch-left {
	display: inline-block;
	text-align: left;
	width: 100%;
}
span.skooch-right {
	display: inline-block;
	text-align: right;
	width: 100%;	
}
table {
	width: 100%;
}
ul {
	list-style: none;
}
td[id^="my_contract_offer_date_"].deadline-closing {
	border-right: 6px solid #ff6e40;
}
td[id^="my_contract_offer_name_"].best-offer {
	border-left: 6px solid rgb(139,195,74);
}
td.transfer-item-cell {
	overflow: hidden;  
  text-overflow: ellipsis;
  white-space: nowrap;
}
#header-row {
	margin: 0px 0px 30px 0px;
}
#player_position_dropdown {
	cursor: pointer;
}
#main-nav {
	font-size: 23px;
	text-align: right;
}
#wide-container{
	min-width: 900px;
}
.alert {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 5px 3px -2px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 30px;
  line-height: 35px;
}
.alert_sub_div {
	margin: 0px 0px 4px 0px;
	padding-left: 54px;
  text-align: left;
  text-indent: -28px;
}
.bold-row {
	border-top: 2px solid #999;
}
.bold-row > td {
	font-weight: 400;
}
.cancel_link_anchor {
	display: block;
	float: right;
  font-size: 27px;
  line-height: 38px;
  padding: 15px 0px;
  text-align: left;
  vertical-align: bottom;
  width: 37%;
}
.collection_radio_buttons {
	margin: 15px 0px;
	width: 100%;
}
.collection_radio_buttons > label {
	color: #111111;
	font-size: 30px;
	font-weight: 300;
	line-height: 46px;
	margin: 0px 30px 0px 10px;
	padding: 10px;
}
.collection_radio_buttons label[for^="position_dropdown_"], .collection_radio_buttons label[for^="real_team_dropdown_"] {
	text-align: center;
	width: 13%;
}
.collection_radio_buttons > input[type="radio"]:checked + label {
  border: 1px solid #888;
  font-weight: 500;
}
.collection_radio_buttons > input[type="radio"] {
	display: none;
}
.container {
	margin: 25px 0px;
	width: 900px;
}
.demo-card-wide.mdl-card {
  margin: 0px 0px 30px 0px;
  width: 100%;
}
.green-circle {
	background: rgb(139,195,74);
}
.hide-option {
	display: none;
}
.hidden_div {
	display: none;
}
.home-page-row {
  border-bottom: 3px solid rgb(139,195,74);
  padding: 30px 0px;
}
.home-page-row-closing-remark{
  display: block;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 25px 0px 0px 0px;
}
.home-page-row-content{
  font-size: 32px;
  line-height: 43px;
  padding: 20px 0px;
  text-align: center;
  width: 100%;
}
.home-page-row-header{
  color: rgb(139,195,74);
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 3px;
  padding: 20px 0px;
  text-align: center;
  width: 100%;
}
.horizontal-style, .horizontal-style-tabs, .horizontal-style-centre-form {
  display: table;
  padding: 0px;
}
.horizontal-style {
	width: 100%
}
.horizontal-style-centre-form{
	margin: 0 auto;
}
.horizontal-style-tabs {
	margin: 0 0 0 auto;
	width: 68%
}
.horizontal-style li, .horizontal-style-tabs li {
  display: table-cell;
}
.horizontal-style a, .horizontal-style-tabs a, .horizontal-style-centre-form a, .horizontal-style-centre-form input[type="submit"] {
  display: block;
  font-size: 30px;
  text-align: center;
}
.horizontal-style a {
	margin: 0 5px;
}
.horizontal-style-centre-form input[type="submit"]{
	background: none;
	border: none;
	font-weight: 500;
	padding: 0px;
}
.horizontal-style-centre-form input[type="submit"]:hover{
	border-bottom: 2px solid;
}
.league_invite_div {
	margin: 20px 0px;
}
.logo-icon {
	width: 60%;
}
.material-icons.error {
	color: #ff6e40;
}
.material-icons.success {
	color: #8bc34a;
}
.margin-bottom-50{
	margin-bottom: 50px;
}
.mdl-button--raised.mdl-button--colored{
	font-size: 34px;
	height: 68px;
	width: 54%;
}
.mdl-data-table-fixed {
	table-layout: fixed;
}
.mdl-data-table tr th span {
	color: #111111;
	font-size: 30px;
	font-weight: 400;
	line-height: 46px;
}
.mdl-data-table tr th {
	padding-top: 8px;
}
.negative_action_button {
	background-color: rgba(255,255,255, 0);
	border-radius: 0;
	border: 0px;
	color: rgb(255,110,64);
	font-size: 30px;
	font-weight: 500;
}
.negative_action_button:hover {
	outline: none;
	text-decoration: underline;
}
.negative_text_link_div {
	font-size: 27px;
  line-height: 28px;
  padding: 15px 0px;
  text-align: right;
}
.news-item-view-column {
	width: 20%;
}
.no-bottom-border {
	border-bottom: 0px;
}
.no-top-border {
	border-top: 0px;
}
.normal-text {
	color: #111111;
	font-size: 30px;
	font-weight: 300;
	line-height: 46px;
}
.non-floating-label {
	color: rgb(139,195,74);
	font-size: 26px;
	top: -4px;
}
.orange-circle, .green-circle, .white-circle {
	border-radius: 50%;
	display: inline-block;
	height: 15px;
	margin: 3px;
	vertical-align: middle;
	width: 15px;
}
.orange-circle {
	background: #ff6e40;
}
.pagination {
	font-size: 30px;
	font-weight: 300;
	line-height: 46px;
	text-align: center;
	width: 100%;
}
.pagination > * {
	margin: 0px 25px;
}
.positive_action_button {
	background-color: rgba(255,255,255, 0);
	border-radius: 0;
	border: 0px;
	color: rgb(139,195,74);
	font-size: 30px;
	font-weight: 500;
	outline: none;
}
.positive_action_button:hover {
	outline: none;
	text-decoration: underline;
}
.selected-tab, .selected-tab:active, .selected-tab:hover, .selected-tab:visited {
	border: 1px solid #888;
	color: #111111;
	font-weight: 500;
	text-decoration: none;
}
.show_div {
	display: block;
}
.white-circle {
	background: #ffffff;
	border: 1px solid #000000;
}
/************************************************

select

************************************************/
.selectdiv {
  position: relative;
}

.selectdiv:after {
  content: '<>';
  font: 30px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	display: block;
  font-size: 30px;
  width: 100%;
  height: 60px;
  float: right;
  margin: 5px 0px 25px 0px;
  padding: 0px 24px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
/************************************************

.col-sm-8

************************************************/
.col-sm-8 .form-group {
	margin: 0px;
}
.col-sm-8 .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .col-sm-8 .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .col-sm-8 .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
	font-size: 26px;
	top: -4px;
}
/************************************************

.col-sm-12

************************************************/
.col-sm-12 h2 {
	font-size: 56px;
}
.col-sm-12 h3 {
	font-size: 42px;
}
.col-sm-12 h4 {
	font-size: 30px;
}
.col-sm-12 .demo-card-wide.mdl-card.mdl-shadow--2dp {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 5px 3px -2px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
}
.col-sm-12 .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .col-sm-12 .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .col-sm-12 .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
	font-size: 26px;
	top: -4px;	
}
/************************************************/
@import "bootstrap-sprockets";
@import "bootstrap";
