<div class="row">
  <div class="col-sm-12">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <%= truncate(@league.name, length: 19) %> achievements
        </h2>
      </div>
      <div class="mdl-card__actions">
        <%= render partial: 'team_achievements_table', locals: { team_achievements: @team_achievements } %>
      </div>
      <div class="mdl-card__actions">
        <%= render partial: 'team_achievements_table', locals: { team_achievements: @league_achievements } %>
      </div>
     </div>
    </div>
  </div>
</div>     
