<div id="log-in-hero-row" class="row">
  <div class="col-sm-1">
    <!-- Empty -->
  </div>
  <div class="col-sm-10">
    <% if controller_name == "user_sessions" %>
      <%= render 'user_sessions/form' %>
    <% end %>
  </div>
  <div class="col-sm-1">
    <!-- Empty -->
  </div>
</div>
