<div class="col-sm-12">
  <div id="row">
    <div class="col-sm-12 home-page-row">
      <div class="home-page-row-header">
          Gaffer expands fantasy football.
      </div>
      <div class="home-page-row-content">
        There is more to managing a club than picking the team so why should fantasy football stop there?
        <br/>
        <br/>
        <b>Build a team. Create a legacy.</b>
      </div>
    </div>
  </div>
  <div id="row">
    <div class="col-sm-12 home-page-row">
      <div class="home-page-row-header">
          More than just the match day.
      </div>
      <div class="home-page-row-content">
        There is more to managing a club than picking the team so why should fantasy football stop there?
        <br/>
        <br/>
        <b>Build a team. Create a legacy.</b>
      </div>
    </div>
  </div>
</div>
