<div id="row">
    <div class="col-sm-12 home-page-row">
      <div class="home-page-row-header">
        <%= header %>
      </div>
      <div class="home-page-row-content">
        <%= main_content %>
        <% if defined? closing_remark %>
          <span class="home-page-row-closing-remark"><%= closing_remark %></span>
        <% end %>
      </div>
    </div>
  </div>
